.arrayContainer,
.arrayContainerBoxView {
  background-color: rgba(236, 236, 236, 0.01);
  /* background-color: #282a36; */
  height: 400px;
  width: 90vw;

  display: flex;
  flex-direction: row;

  margin-top: 20px;

  overflow-x: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.arrayContainerBoxView {
  align-items: center;
}

.bar {
  margin-inline: 1px;
  background: linear-gradient(rgb(103, 3, 204));
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  transition: all 0.1s ease-in-out;
}

.bar:hover {
  transform: translateY(10px);
  background: linear-gradient(rgb(77, 1, 152));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(10px) scale(1.05);
  }
  50% {
    transform: translateY(15px) scale(1.05);
  }
}

.box {
  flex-shrink: 0; /* Prevent shrinking */
  width: 70px; /* Fixed width */
  height: 70px; /* Fixed height */
  background: linear-gradient(rebeccapurple);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-inline: 2px;

  font: 500 13px "Roboto", sans-serif;
}
.barContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.index {
  box-sizing: border-box;
  background-color: khaki;
  color: black;
  height: auto;
  margin-inline: 1px;
  font: 500 0.8rem "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selected {
  background: #4ef578;
  margin-inline: 1px;
}

/* Add these to your ArrayContainer.module.css */
.bar {
  transition: height 0.3s ease-out, background-color 0.2s ease,
    transform 0.2s ease;
}

.barContainer {
  transition: transform 0.3s ease-in-out;
}

.index {
  background: khaki;
  color: black;
  /* transition: all 0.3s ease; */
}

.highlightedIndex {
  background: #4ef578;
  color: white;
}

@media (max-width: 800px) {
  .index {
    font: 300 0.4rem "Poppins", sans-serif;
  }
}

.stats {
  width: 90vw;
  height: auto;
  margin-bottom: 20px;

  background-color: rgba(236, 236, 236, 0.01);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 20px;
  box-sizing: border-box;
}

.compsDiv,
.swapsDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.compsDiv > span,
.swapsDiv > span {
  color: white;
  font: 500 13px "Poppins", sans-serif;
}

.compsDiv > div,
.swapsDiv > div {
  width: 120px;
  height: 40px;
  background-color: rgba(102, 51, 153, 0.108);
  border-radius: 5px;
  color: white;
  font: 500 13px "Poppins", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .stats {
    justify-content: center;
  }
  .compsDiv > span,
  .swapsDiv > span {
    font: 500 12px "Poppins", sans-serif;
  }

  .compsDiv > div,
  .swapsDiv > div {
    font: 500 12px "Poppins", sans-serif;
  }

  .box {
    height: 50px;
    width: 50px;
  }
}
